<div class="container">
        <% @recipes.each do |recipe| %>
          <div class="row mt-5">
            <div class="col text-center">
              <p><%= image_tag recipe.get_image(500,450) %></p>
            </div>
            <div class="col">
              <p>Menu：<%= recipe.title %></p>
              <p>Recipe：<%= recipe.detail %></p>
            </div>
          </div>
        <% end %>
</div>
            <% if @customer == current_customer %>
              <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
            <% end %>