<% @recipes.each do |recipe| %>
<div>
  <p><%= image_tag recipe.get_image(100,100) %></p>
  <p>Menu：<%= recipe.title %></p>
  <p>Recipe：<%= recipe.detail %></p>
</div>
<% end %>
  <% if @customer == current_customer %>
    <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
  <% end %>