<h2 class="text-center mt-5"><span style="color: #339900;">kokorecipe</span></h4><br>
  <h5 class="offset-3"><span style="color: #550000;">これから料理を始める方</span></h6>
  <h5 class="offset-4"><span style="color: #550000;">その日のメニューにお悩みの方</span></h6>
  <h5 class="offset-6"><span style="color: #550000;">パッと検索、投稿ができるサイトです</span></h6>

<%= render 'public/recipes/index', recipe: @recipe, recipes: @recipes %>