<h2 class="text-center mt-5"><font color="#339900">kokorecipe</font></h4><br>
  <h5 class="offset-3"><font color="#550000">これから料理を始める方</font></h6>
  <h5 class="offset-4"><font color="#550000">その日のメニューにお悩みの方</font></h6>
  <h5 class="offset-6"><font color="#550000">パッと検索、投稿ができるサイトです</font></h6>

<%= render 'public/recipes/index', recipe: @recipe, recipes: @recipes %>