    <footer class="nav navbar-expand-lg justify-content-center border-bottom mb-3 pt-3 mt-3 my-4 bg-warning">
      <p class="text-center text-muted">
        <%= link_to new_admin_session_path, class: "text-decoration-none text-muted" do %>©<% end %> 2022 koko recipe
      </p>
    </footer>