  <footer class="justify-content-center pt-3 bg-warning fixed-bottom">
    <p class="text-center text-muted">
      <%= link_to new_admin_session_path, class: "text-decoration-none text-muted" do %>©<% end %>2022 koko recipe
    </p>
  </footer>